.App {
    text-align: center;
    min-height: max-content;
    background-color: #f9fff5;
}


.App-header {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header a {
    color: white !important;
}

header a:hover {
    color: #343a40 !important;;
}

header a.hometext:hover {
    color: white !important;
    text-decoration: none;
}

main {
    min-height: 83vh;
}

footer {
    width: 100%;
    bottom: 0;
    min-height: 7vh;
    padding-top: 0.5em;
}

.bg-dark {
    background-color: #336600 !important;
}

.btn {
    margin: .2em;
    border-radius: 2em;
}

.btn-dark {
    font-family: Verdana, sans-serif;
    background-color: #408000 !important;
}

.btn-danger {
    font-family: Verdana, sans-serif;
    background-color: #ff1a1a;
    border-color: #ff1a1a;
}

.hometext {
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, sans-serif;
    color: #0d1a00;
}

.h5 {
    font-size: 22px;
}

a {
    text-decoration: none !important;
}

div.card {
    margin: .5em;
    background-color: #d9ffb3;
    border: 2px solid #336600;
    font-family: Verdana, sans-serif;
    padding-top: .5em;
    padding-bottom: .5em;
}

.titleHome {
    padding-top: 5vh;
}

.titleOver {
    padding-top: 5vh;
}

.karteiButton {
    margin: 8px;
}

.newTopic {
    position: absolute;
    top: -2em;
    right: 0em;
    color: #336600 !important;
    border: 0em;
    background-color: rgba(245, 222, 179, 0) !important;
    font-weight: 2px !important;
    font-size: 2em !important;
}

.newCard {
    position: absolute;
    top: -.4em;
    right: 0em;
    color: #336600 !important;
    border: 0em;
    background-color: rgba(245, 222, 179, 0) !important;
    font-weight: 2px !important;
    font-size: 2em !important;
}


/* LernCard */
.lernCard {
    background-color: #d9ffb3 !important;
    color: black !important;
}

.card-header .card-footer {
    padding: 0px !important;
    margin: 0px !important;
    color: red !important;
}

.lernCardBody {
    background-color: #f9fff5;
}

/* Solution fild */
.modal-content {
    background-color: #f9fff5;
    border-radius: 2em;
}

.solution {
    font-family: Verdana, sans-serif;
    font-weight: bold;
}


/* ID */
#buttonNewCat {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#aroundCategory {
    margin-top: 0.8em;
    padding: 0.5em 0 0.5em 0;
    background-color: #f3ffeb;
    border: 1px solid #336600;
    border-radius: 2em;
}

#antwortbox {
    color: #0d1a00;
}

/* Plot */
.rv-xy-plot__axis__tick__text{
    color: #0d1a00 !important;
    font-size: 1em !important;
}